<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes"
  />
  <link rel="profile" href="https://gmpg.org/xfn/11" />
  <link rel="preconnect" href="https://www.googletagmanager.com" />
  <meta name="dlm-version" content="4.8.10" />

  <meta
    name="robots"
    content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
  />

  <meta property="og:locale" content="en_US" />

  <meta property="og:site_name" content="AZ News" />
  <meta property="og:updated_time" content="2023-09-11T10:04:38+00:00" />

  <meta
    property="og:image"
    content="https://aznews.netlify.app/assets/img/cover/AZ-News-Cover.png"
  />
  <meta
    property="og:image:secure_url"
    content="https://aznews.netlify.app/assets/img/cover/AZ-News-Cover.png"
  />
  <meta property="og:image:width" content="2552" />
  <meta property="og:image:height" content="1469" />
  <meta property="og:image:alt" content="AZ News Cover" />
  <meta property="og:image:type" content="image/png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta
    name="twitter:title"
    content="AZ News - Fashion Technology Sports"
  />
  <meta
    name="twitter:description"
    content="This is a news website providing the latest updates, articles, and resources related to various topics around the world."
  />
  <meta name="twitter:site" content="@AZNews" />
  <meta name="twitter:creator" content="@AZNews" />
  <meta
    name="twitter:image"
    content="https://aznews.netlify.app/assets/img/cover/AZ-News-Cover.png"
  />

  <link
    rel="alternate"
    type="application/rss+xml"
    title="AZ News » Feed"
    href="https://aznews.netlify.app/"
  />
  <link
    rel="alternate"
    type="application/rss+xml"
    title="AZ News » Comments Feed"
    href="https://aznews.netlify.app"
  />

  <link rel="alternate" hreflang="en-US" href="https://aznews.netlify.app/" />

  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta
    name="msapplication-TileImage"
    content="https://aznews.netlify.app/assets/img/favicon.ico"
  />

</head>
